.submitFormContainer {
  margin-top: 30px;
}

.submitForm {
  display: flex;
  gap: 18px;
}

.movieSearch {
  width: 320px;
  border-radius: 12px;
  padding: 8px;
}

.submitBtn {
  background-color: green;
  color: yellow;
}
